

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url(https://www.dropbox.com/s/b1xg6rm69useb0q/plaid.png?dl=1);
    background-image: url(img/plaid.png);
}

.break {
    flex-basis: 100%;
    height: 0;
  }

  h1, #info {
    font-family: 'Montserrat', sans-serif;
    color: #58B59D;
    /* color: #FAEDE1; */
    font-size: 1.9rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
    margin: auto;
    text-align: center;
    padding: 0.27rem;
}

h1 {
    padding-top: 0.60rem;
}

#info {
    font-family: 'Vollkorn', serif;
    font-size: 1.8rem;
    padding-bottom: 0.7rem;
    display: flex
    flex-direction: column;
    padding: 7px 0 6px 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(250,237,225,0.90);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.377);
    padding: 0.3rem;
}

.board-header {
    position: relative;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0px 10px;
    margin-bottom: 10px;
    /* left: 0;
    right: 0; */
    height: 54px;
    background-color: rgba(250,237,225,0.80);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.377);
    /* padding: 0.3rem; */
}

#gameboard {
    width: 300px;
    height: 327px;
    margin-top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    padding-top: 12px;
    border: 15px solid;
    border-color:#FAEDE1;
    box-shadow: 2px 2px 2px rgba(215,114,155, 1), -2px -2px 2px #58B59D, inset -2px 2px 2px #57A32C, inset 2px -2px 2px #F9D840;
}

#gameboard-fade {
    width: 300px;
    height: 327px;
    margin-top: 4.5rem;
    padding: 25px;
    position: absolute;
    background-color: #FAEDE1;
    opacity: 0.55;
    z-index: -1;
}

.square {
    width: 72px;
    height: 72px;
    /* width: 27.5%;
    height: 27.5%;
    aspect-ratio: 1 / 1; */
    background-color: rgba(250,237,225,0.60);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.377);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    /* border: 20px solid transparent; */
    /* border-color: yellow; */
    box-sizing: border-box;
    display: flex;
    flex: auto;
    justify-items: center;
    align-items: center;
    margin: 10px;
    background-position: center;
    transition: background 0.4s;
}

.square:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: rgba(250,237,225,1);
}

.square:active {
    background-color: #FAEDE1;
    background-size: 100%;
    transition: background 0s;
  }

.clicked {
    background-color: #FAEDE1;
}

.frog, .duck {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.377);
    /* height: 150px;
    width: 150px; */
    height: 84%;
    width: 84%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    box-sizing: border-box;
    margin: auto;
    animation: fadeIn 0.5s; 
}

img {max-width:100%;}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.frog {
    background-image: url(https://www.dropbox.com/s/avltn18bf19as5x/frog154px.png?dl=1);
    background-image: url(img/frog154px.png);
}

.duck {
    background-image: url(https://www.dropbox.com/s/ltzxrjk9f8mhc03/chick154px.png?dl=1);
    background-image: url(https://www.dropbox.com/s/ge447unxfnlzysa/duckB154px.png?dl=1);
    background-image: url(img/chick154px.png);
    background-image: url(img/duckA154px.png);
    background-image: url(img/duckB154px.png);
}

/* phone */
/* @media (max-width: 540px) {
.square {
    width: 72px;
    height: 72px;
}
h1 {
    color: purple;
    }    
} */

/* phone */
@media (30em <= width <= 80em) {
    .square {
        width: 108px;
        height: 108px;
    }

    #gameboard {
        width: 400px;
        height: 435px;
    }

    #gameboard-fade {
        width: 400px;
        height: 432px;
    } 
    
    h1 {
    color: red;
    }  
  }

  /* tablet */
  @media (60em <= width <= 160em) {
    .square {
        width: 180px;
        height: 180px;
    }

    #gameboard {
        width: 600px;
        height: 654px;
    }

    #gameboard-fade {
        width: 600px;
        height: 654px;
    } 

    h1 {
        color: blue;
        }  
  }



/* .cross {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 15px solid rgb(27, 19, 68);
} */
